<template>
    <lightning-quick-action-panel header={title}>
        <div class="slds-m-around_medium">
            <div if:true={selectionPBE}>
                <template if:true={dataTable}>
                    <div class="slds-m-around_small">
                        <p style="color:blue;">Show selected rows ({numberOfSelectedRows})</p>
                    </div>
                    <lightning-datatable data-id="datarow" key-field="Id" data={dataTable} selected-rows={selection}
                        onrowselection={handleRowSelection} columns={columns} onsave={handleSave}>
                    </lightning-datatable>
                </template>
                <template if:true={error}>
                    <p>Error generee</p>
                </template>
                <div slot="footer" class="slds-m-top_large">
                    <!--  Pagination Buttons Start -->
                    <div class="slds-float_left">
                        <lightning-button label="First" onclick={onFirst} disabled={isFirstPage}
                            icon-name="utility:left" icon-position="left" class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button label="Previous" onclick={onPrevious} disabled={isFirstPage}
                            icon-name="utility:back" icon-position="left" variant="brand" class="slds-m-left_x-small">
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={onNext} disabled={isLastPage}
                            icon-name="utility:forward" icon-position="right" class="slds-m-left_x-small"
                            variant="brand">
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} disabled={isLastPage} icon-name="utility:right"
                            icon-position="right" class="slds-m-left_x-small">
                        </lightning-button>
                    </div>
                    <div class="slds-float_right">
                        <lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
                        &nbsp;
                        <lightning-button variant="brand" class="slds-m-left_x-small" label="Next" type="submit"
                            onclick={handleNext} disabled={disabled}></lightning-button>
                    </div>
                </div>
            </div>
            <div if:false={selectionPBE}>
                <c-edit-product opportunity-id={recordId} table-data={selectedData} previous-data={data}
                    segment={segment} onprevious={handlePrevious} oncancel={handleCancel}></c-edit-product>
            </div>
        </div>
    </lightning-quick-action-panel>
</template>