<template>

    <lightning-card title="Pricebook entries for this hotel" icon-name="custom:custom14">

        <lightning-tabset>
            <lightning-tab label="Corporates" value="1" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="boarder">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnCorp}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} icon-name="utility:left" icon-position="left"
                            class="slds-m-left_x-small" name="first" disabled={isFirstPage}>
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} icon-name="utility:back"
                            icon-position="left" variant="brand" class="slds-m-left_x-small" name="previous"
                            disabled={isFirstPage}>
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} icon-name="utility:forward"
                            icon-position="right" class="slds-m-left_x-small" variant="brand" name="next"
                            disabled={isLastPage}>
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} icon-name="utility:right" icon-position="right"
                            disabled={isLastPage} class="slds-m-left_x-small" name="last">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="boarder">
                        <div class="slds-text-color_destructive slds-text-align_center"> This hotel has no product
                            in this segment!</div>
                    </div>
                </template>
            </lightning-tab>
            <lightning-tab label="Groups" value="2" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="boarder">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnGroup}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} icon-name="utility:left" icon-position="left"
                            class="slds-m-left_x-small" name="first" disabled={isFirstPage}>
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} icon-name="utility:back"
                            icon-position="left" variant="brand" class="slds-m-left_x-small" name="previous"
                            disabled={isFirstPage}>
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} icon-name="utility:forward"
                            icon-position="right" class="slds-m-left_x-small" variant="brand" name="next"
                            disabled={isLastPage}>
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} icon-name="utility:right" icon-position="right"
                            disabled={isLastPage} class="slds-m-left_x-small" name="last">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="boarder">
                        <div class="slds-text-color_destructive slds-text-align_center"> This hotel has no product
                            in this segment!</div>
                    </div>
                </template>
            </lightning-tab>
            <lightning-tab label="Intermediaires" value="3" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="boarder">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnInter}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} icon-name="utility:left" icon-position="left"
                            disabled={isFirstPage} class="slds-m-left_x-small" name="first">
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} icon-name="utility:back"
                            disabled={isFirstPage} icon-position="left" variant="brand" class="slds-m-left_x-small"
                            name="previous">
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} icon-name="utility:forward"
                            disabled={isLastPage} icon-position="right" class="slds-m-left_x-small" variant="brand"
                            name="next">
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} icon-name="utility:right" icon-position="right"
                            disabled={isLastPage} class="slds-m-left_x-small" name="last">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="boarder">
                        <div class="slds-text-color_destructive slds-text-align_center"> This hotel has no product in
                            this segment!</div>
                    </div>
                </template>
            </lightning-tab>
        </lightning-tabset>
    </lightning-card>
</template>