<template>
    <lightning-card title="Price Book Entry Details">
                <lightning-record-form
                    record-id='{recordId}'
                    object-api-name='{objectApiName}'   
                    fields='{fields}'
                    columns='2'                    
                    density='comfy'
                    onsubmit='{handleSubmit}'
                >
                </lightning-record-form>
    </lightning-card>
</template>