<template>
    <lightning-card title="Price Book Entry Details">
        <lightning-record-form record-id='{recordId}' object-api-name='{objectApiName}' fields='{fields}' columns='2'
            onsubmit='{handleSubmit}' density='comfy'>
        </lightning-record-form>
    </lightning-card>
</template>