<template>
    <template if:true={tableData}>
        <template if:true={errors}>
            <div class="slds-m-around_medium"><template for:each={errors} for:item="error">
                    <p class="slds-text-color_error" key={error.id}>{error.message}</p>
                </template></div>
        </template>
        <lightning-datatable key-field="Id" data={tableData} columns={columns} show-row-number-column
            hide-checkbox-column suppress-bottom-bar>
        </lightning-datatable>
    </template>
    <div slot="footer" class="slds-m-top_large">
        <div class="slds-float_left">
            <lightning-button variant="neutral" label="Back" onclick={handlePrevious}></lightning-button>
        </div>
        <div class="slds-float_right">
            <lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
            &nbsp;
            <lightning-button variant="brand" class="slds-m-left_x-small" label="Save" type="submit"
                onclick={handleSave}></lightning-button>
        </div>
    </div>
</template>