<!--
  @description       : 
  @author            : Marame.ndiaye@TerangaCloud.com
  @group             : 
  @last modified on  : 01-03-2022
  @last modified by  : Marame.ndiaye@TerangaCloud.com
  Modifications Log
  Ver   Date         Author                           Modification
  1.0   12-30-2021   Marame.ndiaye@TerangaCloud.com   Initial Version
-->

<template>

    <!-- Spinner to show on waiting screens -->
    <template if:true={openSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>

    <div class="slds-grid slds-wrap slds-theme_default">

        <div class="slds-col slds-size_12-of-12">
            <!-- fullcalendar sits in this div -->
            <div id="calendar" class="fullcalendarjs"></div>
        </div>
    </div>

    <!-- Open a modal with new event form  -->
    <template if:true={openModal}>
        <div data-modal="custommodal" class="modalclass">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" class="slds-modal__close "
                            alternative-text="Close" title="Close" size="large" variant="bare-inverse"
                            onclick={handleCancel}>

                        </lightning-button-icon>
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Event</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <lightning-input label="Title" name="title" type="text" required onkeyup={handleKeyup}>
                        </lightning-input>
                        <lightning-input label="Start Date" name="start" type="datetime" required value={startDate}>
                        </lightning-input>
                        <lightning-input label="End Date" name="end" type="datetime" required value={endDate}>
                        </lightning-input>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button-group>
                            <lightning-button label="Close" title="Close" icon-name="utility:close"
                                onclick={handleCancel}></lightning-button>
                            <lightning-button label="Save" title="Save" variant="brand" icon-name="utility:save"
                                onclick={handleSave}></lightning-button>
                        </lightning-button-group>

                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>