<template>

    <lightning-card title="Pricebook entries for this product" icon-name="custom:custom14">

        <lightning-tabset>
            <lightning-tab label="Corporates" value="1" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="border">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnCorp}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} disabled={isFirstPage}
                            icon-name="utility:left" icon-position="left" class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} disabled={isFirstPage}
                            icon-name="utility:back" icon-position="left" variant="brand" class="slds-m-left_x-small">
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} disabled={isLastPage}
                            icon-name="utility:forward" icon-position="right" class="slds-m-left_x-small"
                            variant="brand">
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} disabled={isLastPage} icon-name="utility:right"
                            icon-position="right" class="slds-m-left_x-small">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="border">
                        <div class="slds-text-color_destructive slds-text-align_center"> This product has no pricebook
                            entry in this segment!</div>
                    </div>
                </template>
            </lightning-tab>
            <lightning-tab label="Groups" value="2" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="border">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnGroup}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} disabled={isFirstPage}
                            icon-name="utility:left" icon-position="left" class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} disabled={isFirstPage}
                            icon-name="utility:back" icon-position="left" variant="brand" class="slds-m-left_x-small">
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} disabled={isLastPage}
                            icon-name="utility:forward" icon-position="right" class="slds-m-left_x-small"
                            variant="brand">
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} disabled={isLastPage} icon-name="utility:right"
                            icon-position="right" class="slds-m-left_x-small">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="border">
                        <div class="slds-text-color_destructive slds-text-align_center"> This product has no pricebook
                            entry in this segment!</div>
                    </div>
                </template>
            </lightning-tab>
            <lightning-tab label="Intermediaires" value="3" onactive={handleActive}>
                <template if:true={paginationList}>
                    <div class="border">
                        <lightning-datatable key-field="Id" data={paginationList} show-row-number-column
                            hide-checkbox-column columns={columnInter}>
                        </lightning-datatable>
                    </div>
                    <!--  Pagination Buttons Start -->
                    <div class="slds-align_absolute-center slds-m-top_large">
                        <lightning-button label="First" onclick={onFirst} disabled={isFirstPage}
                            icon-name="utility:left" icon-position="left" class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button label="Previous" onclick={handlePrevious} disabled={isFirstPage}
                            icon-name="utility:back" icon-position="left" variant="brand" class="slds-m-left_x-small">
                        </lightning-button>
                        <span class="slds-badge slds-badge_lightest" style="margin-right: 10px;margin-left: 10px;">
                            Page {currentPageNumber} out of {totalPages}
                        </span>
                        <lightning-button label="Next" onclick={handleNext} disabled={isLastPage}
                            icon-name="utility:forward" icon-position="right" class="slds-m-left_x-small"
                            variant="brand">
                        </lightning-button>
                        <lightning-button label="Last" onclick={onLast} disabled={isLastPage} icon-name="utility:right"
                            icon-position="right" class="slds-m-left_x-small">
                        </lightning-button>
                    </div>
                </template>
                <template if:false={paginationList}>
                    <div class="border">
                        <div class="slds-text-color_destructive slds-text-align_center"> This product has no pricebook
                            entry in this segment!</div>
                    </div>
                </template>
            </lightning-tab>
        </lightning-tabset>
    </lightning-card>
</template>